#catalog-v2, #catalog-v2 .CatalogFilterBlock-name--collapsable {
  color: #000 !important;}
#catalog-v2 .CatalogSort-button {
  border: 1px solid #000 !important;
  color: #000 !important;
#catalog-v2 .bgTint {
  background-color: #f2049b !important;
}
